body{
	background-color:#e0e0e0;
	margin:0px ;
}
#minha-foto{
	margin-left: 480px;
	margin-top: 30px;
	border: 2px solid black;
}
#foto-codigo{
	margin-left: 450px;
	border: 2px solid black;
}
section#topo{
	background-color:#00e676;
	padding-bottom: 20px;
}
.texto{
	margin-left: 500px;
}